# Ignore files that have no "." (https://stackoverflow.com/a/31326382)
# since most of these are compiled (in this repo, Crystal) binaries.
*
!*/
!*.*

# Except... don't ignore the LICENSE file!
!/LICENSE

# Ignore editor tempfiles.
.*.swp

# Ignore compiled C# binaries (currently mst-weight-prim.exe).
*.exe
